html {
  font-family: 'Lato', sans-serif;
}

.hero {
  background-image: url('https://static.pexels.com/photos/130991/pexels-photo-130991.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  color: #fff;
  align-self: center;
  margin: auto;
  font-size: 60px;
  letter-spacing: 2px;
}

h1 {
  margin-top: 0;
}

nav {
  background-color: rgba(255, 255, 255, .4);
  display: inline-block;
}

.nav {
  margin: auto;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
}

.nav-item {
}

.nav-item-link {
  display: block;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0;
  text-decoration: none;
  text-align: center;
  transition: background-color 150ms ease-in, color 150ms ease-in;
}

@media (min-width: 400px) {
  .nav-item-link {
    letter-spacing: 1px;
    font-size: 14px;
  }
}

@media (min-width: 700px) {
  .nav-item-link {
    letter-spacing: 2px;
    font-size: 14px;
    padding: 24px 18px;
  }
}

.nav-item-link:hover {
  color: #222;
  background-color: #fff;
}

.logo {
  margin-top: 12px;
  text-align: center;
}

@media (min-width: 700px) {
  .logo {
    float: left;
    margin: 0;
    padding: 14px;
  }
}

.container {
  max-width: 1000px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.test {
  color: #fff;
  font-size: 40px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;

}

.test div {
  margin-bottom: 20px;
}

@media (min-width: 400px) {
  .test {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

@media (min-width: 750px) {
  .test {
    font-size: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

h2 {
  margin-top: 0;
  text-transform: uppercase;
  color: #4a4a4a;
  font-size: 24px;
  letter-spacing: 2px;
}

.absolute-top-right {
  position: absolute;
  top: 20px;
  right: 20px;
}

.two-col {
  display: flex;
}

.two-col .col {
  flex-basis: 50%;
  flex-grow: 1;
}

.two-col .col:first-of-type {
  margin-right: 75px;
}

.artwork {
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('https://i1.sndcdn.com/artworks-000178263875-m01ffq-t500x500.jpg');
  background-size: cover;
  transition: background .3s;
  position: relative;
}

.controls {
  position: absolute;
  bottom: 0;
}

/**
 * Track
 */
.track-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.track {
  padding: 6px 0;
  margin-bottom: 12px;
}

.track-btn {
  background-color: #fff;
  color: #95a5a6;
  border-radius: 50%;
  border: 0;
  padding: 0;
  margin-right: 12px;
  cursor: pointer;
}

.player {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  border-top: 1px solid #eee;
  padding: 16px;
  padding-top: 0;
  transition: transform 230ms;
}

.player-hidden {
  transform: translateY(103%);
}

.progress-container {
  height: 5px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ddd;
}

.progress {
  width: 100%;
  height: 100%;
  background-color: orange;
transition: transform .05s;
  transform: scaleX(0);
  transform-origin: left center;
}
